<app-herosection
  (myevent)="updateScroll($event)"
  *ngIf="!gamestarted"
  [ngClass]="{ 'quiz-class': quizpage }"
></app-herosection>

<div id="quiz">
  <app-main1
    *ngIf="!gamestarted"
    [ngClass]="{ 'quiz-class': quizpage }"
    (notify)="hideComponent($event)"
  ></app-main1>
</div>

<div id="game">
  <!-- <app-main2></app-main2> -->
  <app-gamesection
    (isgamestart)="gamestatus($event)"
    *ngIf="!gamestarted"
    [ngClass]="{ 'quiz-class': quizpage }"
  ></app-gamesection>
</div>

<router-outlet></router-outlet>
